.about{
	padding: rem-calc(250) 0 rem-calc(170) 0;
	background: 
		url("../img/sw-andrewparrish.png") right no-repeat, 
		url("../img/shadow.png") right no-repeat $dark-gray;
	@include breakpoint(medium down){
		position: relative;
		z-index: 1;
		&::after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
			height: 100%;
			background-color: $white;
			opacity: .8;
			z-index: -1;
		}
	}
	&__container{
		@include flex-grid-row();
		justify-content: flex-start;
	}
	&__col{
		@include flex-grid-column(7, rem-calc(15));
		@include breakpoint(medium down){
			@include flex-grid-column(16, rem-calc(15));
		}
	}
	&__title{
		@extend .slide__title-text; 
		margin-bottom: rem-calc(60);
	}
	&__text{
		@include font(300, 30);
		letter-spacing: rem-calc(.32);
		line-height: 1.8em;
		margin-bottom: rem-calc(60);
		text-align: center;
	}
	&__sign{
		@include flex-grid-row();
		justify-content: flex-end;
		&-img{

		}
	}
}