.form{
	&__title{
		@include font(400, 18){
			text-transform: uppercase;
		}
		margin-bottom: rem-calc(30);
	}	
	&__text-wrap{
		@include flex-grid-row(nest);
		justify-content: space-between;
	}
	&__input-wrap{
		@include flex-grid-column(7);
		@include breakpoint(small down){
			@include flex-grid-column(16);
		}
		&--full{
			@include flex-grid-column(16);
		}
		position: relative;
	}
	&__label{
		position: absolute;
		top:0;
		left: 0;
		font-size: 0;
		visibility: hidden;
	}
	&__input{
		width: 100%;
		border: none;
		border-bottom: 1px solid;
		background-color: transparent;
		padding: rem-calc(12) rem-calc(20);
		margin-bottom: rem-calc(60);
		text-transform: capitalize;
		&:focus{
			outline: none;
		}
		&::placeholder{
			@include font(400, 18);
			font-style: italic;
		}
	}
	&__submit{
		@include flex-grid-row(nest);
		justify-content: center;
		margin-bottom: rem-calc(20);
		&-btn{
			padding: rem-calc(17) rem-calc(28);
			border: 1px solid $main-color;
			@inclde font(400, 18);
			text-transform: uppercase;
			&:focus{
				outline: none;
			}
			@include hover-btn();
		}
	}
}