.icon-text{
	display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  padding: rem-calc(65) 0;
  text-align: center;
  &__img{
  	margin-bottom: rem-calc(38);
  }
  &__title{
  	margin-bottom: rem-calc(30);
  	@include font(700, 18){
  		line-height: 1.7em;
  	}
  	text-transform: uppercase;
		letter-spacing: .02em;
  }
  &__text{
  	@include font(300,16);
  	letter-spacing: .02em;
  	margin-bottom: rem-calc(20);
  }
}